@media (max-width: 1200px) {

    //advantages 
    .advantages {
        &__item {
            width: 219px;
        }
    }

    //consultation
    .consultation {
        .section-name {
            font-size: 31px;
        }
    }

    //slider
    .slider {
        &__window {
            max-width: 600px;
        }
    }

    //tabs
    .catalog {
        &__cards {
            max-width: 816px;
            margin: 57px auto 0 auto;
        }
    }
}

@media (max-width: 991px) {

    //promo
    .promo {
        padding: 21px 98px 32px 98px;

        &__wrapper {
            align-items: center;
        }

        &__official {
            display: block;
        }
    }

    .header {
        &__official {
            display: none;
        }
    }

    //advantages
    .advantages {
        &__wrapper {
            margin-top: 0;
            flex-direction: column;
            align-items: center;
        }

        &__item {
            width: 294px;
            margin-top: 50px;
        }

        &__title {
            margin-top: 15px;
        }

        &__text {
            margin-top: 15px;
        }
    }

    //consultation
    .consultation {
        padding: 50px 103px 50px 103px;
        min-height: 580px;

        .section-name {
            text-align: center;
            font-size: 22px;
        }

        &__subheader {
            text-align: center;
        }

        .feed-form {
            margin: 0 auto;
        }
    }

    //slider
    .slider {
        &__window {
            max-width: 470px;
        }

        &__arrow-left {
            left: 10px;
        }

        &__arrow-right {
            right: 10px;
        }

        &__arrow-img {
            width: 23px;
            height: 40px;
        }
    }

    //tabs
    .catalog {
        &__cards {
            max-width: 620px;
            padding: 0;
        }
    }

    //comments 
    .comments {
        padding: 0 50px 48px 50px;
    }

    //footer 
    .footer {
        &__info {
            padding: 30px;
            width: 360px;
            height: 220px;
        }

        &__addr {
            font-size: 18px;
            margin-bottom: 25px;
        }

        &__tel {
            font-size: 18px;
        }

        &__icons {
            margin-top: 25px;
        }
    }
}

@media (max-width: 767px) {

    //promo
    .promo {
        min-height: 560px;

        &__header {
            font-size: 30px;
            margin-top: 50px;
        }

        &__subheader {
            display: none;
        }
    }

    .header {
        justify-content: center;

        &__order {
            display: none;
        }
    }

    //consultation
    .consultation {
        padding: 50px 10px 0 10px;
        min-height: 500px;

        .section-name {
            font-size: 15px;
            line-height: 30px;
        }

        &__subheader {
            font-size: 14px;
            line-height: 20px;
        }
    }

    //slider
    .slider {
        padding: 50px 98px;

        &__window {
            max-width: 370px;
        }

        &__arrow-left {
            left: -40px;
        }

        &__arrow-right {
            right: -40px;
        }
    }

    //tabs
    .catalog {
        &__tabs {
            flex-direction: column;
            align-items: center;
        }

        &__tab {
            margin-top: 20px;
        }

        &__cards {
            max-width: 303px;
        }

        &__tab {
            &:hover {
                box-shadow: none;
            }
        }

        &__card {
            margin-right: 0;
        }
    }

    //comments 
    .comment {
        &__img {
            padding-right: 20px;
        }
    }
}

@media (max-width: 575px) {

    //promo
    .promo {
        padding: 21px 0px 32px 0px;
        min-height: 450px;

        &__icons {
            display: none;
        }

        &__header {
            text-align: center;
        }

        .button_main {
            width: 250px;
        }
    }

    //advantages
    .advantages {
        padding: 30px 0px 65px 0px;

        &__section-name {
            font-size: 21px;
        }

        &__item {
            margin-top: 25px;
        }

        &__title {
            margin-top: 10px;
        }

        &__text {
            margin-top: 10px;
        }
    }

    //consultation
    .consultation {
        .feed-form {
            width: 250px;

            .button_form {
                width: 250px;
            }
        }
    }

    //slider
    .slider {
        padding: 50px 0;

        &__wrapper {
            max-width: 300px;
        }

        &__arrow-left {
            display: none;
        }

        &__arrow-right {
            display: none;
        }

        &__dots {
            display: flex;
        }
    }

    //tabs
    .catalog {
        padding: 0 0 15px 0;

        &__card {
            margin-right: 0;
        }
    }

    //comments 
    .section-name {
        font-size: 27px;
    }

    .comments {
        padding: 0 10px 48px 10px;

        &__comment {
            margin-top: 40px;
        }
    }

    .comment {
        flex-direction: column;
        align-items: center;

        &__name {
            margin-top: 20px;
        }
    }

    //footer 
    .footer {
        min-height: 430px;

        &__info {
            padding: 20px;
            width: 300px;
            height: 180px;
        }

        &__addr {
            font-size: 16px;
            margin-bottom: 20px;
        }

        &__tel {
            font-size: 16px;
        }

        &__icons {
            margin-top: 20px;
        }

        &__map {
            height: 430px;
        }
    }
}