* {
    font-family: 'Museo Sans';
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/section-name';
@import 'blocks/consultation';
@import 'blocks/feed-form';
@import 'blocks/slider';

@import 'media';