.card {
    min-height: 442px;
    width: 303px;
    padding: 20px;
    border: 2px solid #E8E8E8;
    overflow: hidden;

    &__img {
        max-width: 100%;
        height: 200px;
        display: block;
        margin: 0 auto;
    }

    &__title {
        margin-top: 15px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        color: #0D0D0D;
    }

    &__descr {
        margin-top: 15px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: #0D0D0D;
    }

    &__more {
        text-align: center;
        margin-top: 10px;

        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            color: $main-color;
            text-transform: uppercase;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    &__hr {
        border-bottom: none;
        border-color: #E8E8E8;
        margin-top: 17px;
        margin-bottom: 17px;
    }

    &__past-price {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        text-decoration-line: line-through;
        color: #555555;
    }

    &__new-price {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #050505;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__wrapper {
        width: calc(200% + 40px);
        display: flex;
    }

    &__main-side {
        width: 50%;
        margin-right: 20px;
        transition: 0.5s all;
        transform: translateX(calc(-100% - 40px));

        &_active {
            transform: translateX(0);
        }
    }

    &__other-side {
        margin-left: 20px;
        width: 50%;
        transition: 0.5s all;
        transform: translateX(0);

        &_active {
            transform: translateX(calc(-100% - 40px));
        }
    }

    &__list {
        list-style-type: none;
        padding: 0;
        padding-left: 17px;
        position: relative;
    }

    &__list-item {
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: #555555;
        position: relative;

        &::before {
            content: '';
            display: block;
            width: 8px;
            height: 8px;
            background: $main-color;
            position: absolute;
            left: -17px;
            top: 7px;
        }
    }

    &__back {
        text-align: center;
        margin-top: 110px;

        a {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: underline;
            color: $main-color;

            &:hover {
                text-decoration: none;
            }
        }
    }

}