.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__official {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 12px;
        text-align: center;
        color: #FFFFFF;

        span {
            display: block;
            font-size: 18px;
            line-height: 29px;
        }
    }

    &__order {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__tel {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;

        &:hover {
            color: #fff;
        }
    }

    &__button {
        margin-top: 4px;
    }
}